@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");


/* Tailwind configuration styles */

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%,
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}


* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    circle at center,
    #c0c0c0,
    #24a9c0
    
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}


/* Arrow Down Page */

.arrow-container{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.arrow-1{
  width: 100px;
  height: 100px;
  background: #c0c0c0;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
}

.arrow-2{
  width: 60px;
  height: 60px;
  background: #C0c0c0;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: table;
}

.arrow-2:before{
  width: 52px;
  height: 52px;
  content: "";
  border: 2px solid #020111;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.arrow-2 i.fa{
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #24a9c0;
}

/* Custom Animate.css */

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

.zoomIn {
  animation: zoomIn 2s infinite; 
}


/* About section to show the inner shapes */


.section {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.circles {
  /* position: relative; */
  transform: translate(-50%, -50%);
}



.square{
  height: auto;
  width: auto;
  
}

.move-up {
  animation: moveUp 1s forwards;
}

.move-down {
  animation: moveDown 1s forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200px);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(100);
  }
  to {
    transform: translateY(420px);
  }
}


.move-down {
  animation-fill-mode: both;
}
.move-up {
  animation-fill-mode: both;
}

.slider-container{

  display: inline-block;
  width: 320px;
  height: auto;
  margin-top: 10px;

}

.slick-slide {
  height: auto !important;
  
}


/* button.slick-arrow.slick-next::before, button.slick-arrow.slick-next::before{
  color:#070064
} */

.slick-arrow.slick-prev::before {
  color: #24a9c0;
}
.slick-arrow.slick-next::before {
  color: #24a9c0;
}


hr {
    height: 2px; 
    width: 30%; 
    background-color: #c0c0c0; /* Set the color */
    border: none; 
    margin: 10px 1px; /* Adjust margin for centering */
  }